

/* =====BODY=======================

*/
body {
    background-color: #012340;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira sans',sans-serif;
}
.perfilIMG{
    padding: 15px;
    float: left;


}

.people{
  padding: 10px;
  
}


.people2{
    float: left;
    padding: 10px;
}
  
.people3{
    float: left;
    padding: 10px;
}

.textPeople{
    color: white;
    padding: 10px;
}