body{
    background-color: #012340;
}
.menu{

    background-color:#3F618C;
    display: flex;
    flex-flow: row;
    font-weight: bold;
    list-style-type: none;
    padding: 7px;
    font-size: 18px;
    justify-content: space-evenly;
    color: #F20544;
    margin-left: 20px;
    margin-right: 20PX;
   }
.hamburger{
    display: none;
}
header{
    display: flex;
    flex: row;
    align-items: flex-end;
    justify-content:start;
    color: #F20544;
}

.logo{
    width: 50px;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }

.perfilIMG{
    padding: 15px;
    float: left;


}

.people{
  padding: 10px;
  
}


.people2{
    float: left;
    padding: 10px;
}
  
.people3{
    float: left;
    padding: 10px;
}

.textPeople{
    color: white;
    padding: 10px;
}